fastapi
sqlalchemy
pydantic
boto3
redis
requests
openai
python-dotenv
passlib[bcrypt]
langchain
langchain-core
langchain-openai
pymysql
httpx
langchain-community
faiss-cpu
uvicorn[standard]
tzdata
python-jose
python-multipart
aiofiles
bcrypt<4.0